/* This is my common Rest of HTML so they all start the same. */

/* ======= The Documet ====== */
```css
html, body {
  margin: 0;
  padding: 0;
}
```

/* ====== Anchors ====== */
a {
  color: royalblue;
  outline:0;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:hover,
a:focus {
  color: blue;
}
a:visited {
  color: orange;
}

