/* This is my common Rest of HTML so they all start the same. */

/* ======= The Documet ====== */
html, body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
  font: 12px Roboto, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

/* ====== Anchors ====== */
a {
  color: royalblue;
  outline:0;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:hover,
a:focus {
  color: blue;
}
a:visited {
  color: orange;
}

